.container {
    background: inherit;
    width: 100%;
    max-width: 1120px;
    padding: 10px 8px;
    margin: auto;
    display: grid;
    grid-template-rows: 25vh max-content 1fr 20vh;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-template-areas: "head head"
                         "main main"
                         "comments comments"
                         "foot foot";
    grid-auto-rows: max-content;
    font-size: 1.2rem;
    color: inherit;
    height: max-content;
}