.wrapper {
    display: grid;
    grid-template-rows: 74px 1fr 15vh;
    grid-gap: 0px;
    grid-template-areas: "head"
                         "container"
                         "foot";
    height: 100vh;

    & > .container {
        background: inherit;
        width: 100%;
        max-width: 1120px;
        padding: 10px 8px;
        margin: auto;
        display: grid;
        grid-area: container;
        grid-template-rows: max-content max-content 1fr 20vh;
        grid-template-columns: 1fr;
        grid-gap: 2px;
        grid-template-areas: "head head"
                             "main main"
                             "comments comments";
        grid-auto-rows: max-content;
        font-size: 1.2rem;
        color: inherit;
    }
}