.header {
  grid-area: head;

  h1 {
    font-size: 3rem;
  }

  h2 {
    color: #6b76f3;
    font-size: 1.5rem;
    font-weight: 600;
    margin-block-start: -1.5rem;
  }
}

.body {
  grid-area: main;

  &__title {
    font-size: 2.6rem;
    font-weight: 600;
    border-bottom: 3px solid #eee;
    padding-bottom: 0.25rem;
  }
}

.posts {
  list-style: none;
  padding: 0;

  a {
    grid-area: title;
    grid-column: 1 / 2;
  }
}

.post {
  display: grid;
  grid-template-rows: 2fr;
  grid-template-columns: 2fr;
  grid-template-areas: "title date"
                       "desc desc";
  grid-gap: 2px;
  width: 100%;

  &__description {
    display: block;
    font-size: 0.9em;
    grid-area: desc;
    grid-column: 1 / -1;
  }

  &__date {
    grid-area: date;
  }
}