.header {
  grid-area: head;

  h1 {
    font-size: 3rem;
  }

  h2 {
    color: #6b76f3;
    font-size: 1.5rem;
    font-weight: 600;
    margin-block-start: -1.5rem;
  }
}

.body {
  grid-area: main;

  &__title {
    align-items: center;
    border-bottom: 3px solid #eee;
    display: flex;
    font-size: 2.6rem;
    font-weight: 600;
    justify-content: space-between;
    padding-bottom: 0.25rem;

    a {
      font-size: 1rem;
    }
  }
}

.posts {
  list-style: none;
  padding: 0;

  a {
    grid-area: title;
    grid-column: 1 / 2;
  }
}

.post {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  width: 100%;

  &:hover {
    background: #f7f7f7;
    border: 1px solid transparent;
    border-radius: 8px;
  }

  a {
    color: #343434;
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    flex: 1;
  }

  &__main {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__description {
    display: block;
    font-size: 0.9em;
    grid-area: desc;
    grid-column: 1 / -1;
  }

  &__date {
    color: #777;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }

}