.header {
    grid-area: head;
    grid-column: 1 / -1;
    .mail {
        display: flex;
        justify-content: flex-end;
        padding: 0 1rem;
        & > a {
            font-family: 'Odibee Sans', cursive;
            color: #444;
        }
    }
}