.header {
    grid-area: head;
    grid-column: 1 / -1;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem 0;
    border-bottom: 1px solid #e4e4e4;
    top: 0;
    position: fixed;
    background: #fff;
    width: 100%;
    z-index: 102;
    transition: top .2s ease-in-out;

    & > .container {
        align-items: center;
        display: flex;
        justify-content: space-between;
        max-width: 1120px;
        padding: 10px 8px;
        width: 100%;

        .logo {
            color: rgb(49, 46, 129, 0.75);
            font-size: 1.5rem;
            font-weight: bold;

            &:hover {
                color: rgb(165, 180, 252);
            }
        }
    }
}