.footer {
    align-content: center;
    align-self: flex-end;
    background: #f0f0f0;
    border-top: 1px solid #eee;
    display: grid;
    grid-area: foot;
    grid-column: 1 / -1;
    justify-items: center;
    height: 15vh;

    section {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    span {
        font-size: .9rem;
        line-height: 1.2;
        padding: 1rem 0.5rem;
    }

    &__follow {
        align-items: center;
        display: flex;
        flex-direction: row;
        font-size: 2.5rem;
        justify-content: center;
        width: 100%;
        a {
            color: inherit;
        }
    }
}